<div class="nav justify-content-between navbar-dark bg-dark">
  <a routerLink="/" class="navbar-brand"> <img src="../../../../assets/logo.png" alt="logo"></a>
  <ul ngbNav #nav="ngbNav" class="nav-pills navpill">
    <li ngbNavItem>
      <a ngbNavLink routerLink="/">Home</a>
    </li>
    <li ngbNavItem>
      <div ngbDropdown class="d-inline-block">
        <a  ngbNavLink type="button" id="dropdownBasic1" ngbDropdownToggle>
          Hardwares
        </a>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem><a routerLink="newHardware">Cadastrar</a></button>
          <button ngbDropdownItem><a routerLink="searchHardware">Buscar</a></button>
        </div>
      </div>
    </li>
    <li ngbNavItem>
      <div ngbDropdown class="d-inline-block">
        <a  ngbNavLink type="button" id="dropdownBasic1" ngbDropdownToggle>
          Plantas
        </a>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem>Cadastrar</button>
          <button ngbDropdownItem>Buscar</button>
        </div>
      </div>
    </li>
    <li ngbNavItem>
      <a ngbNavLink routerLink="/about">Sobre</a>
    </li>
  </ul>
</div>

