<div class="nav justify-content-between navbar-dark bg-dark">
  <a routerLink="/" class="navbar-brand"> <img src="../../../../assets/logo.png" alt="logo"></a>
  <ul ngbNav #nav="ngbNav" class="nav-pills navpill">
    <li ngbNavItem>
      <a ngbNavLink routerLink="/">Home</a>
    </li>
    <li ngbNavItem>
      <a ngbNavLink routerLink="/">Monitor</a>
    </li>
    <li ngbNavItem>
      <a ngbNavLink routerLink="/">Hardwares</a>
    </li>
    <li ngbNavItem>
      <a ngbNavLink routerLink="/about">Sobre</a>
    </li>
    <li ngbNavItem>
      <a ngbNavLink routerLink="/">Login</a>
    </li>
  </ul>
</div>
